<div class="form-container">
<form [formGroup]="loginForm" class="form">
    <p>Login to Jobhunt App</p>
    <div class="form-section">
        <label>Enter username</label>
        <input type="text" formControlName="username">
    </div>
    <div class="form-section">
        <label>Enter Password</label>
        <input type="password" formControlName="password">
    </div>
    <button (click)="login()" class="form-submit" style="color:#ffffff;background-color: #283653;">Login</button>
    <a routerLink="/register">New User? Click here to register.</a>
</form>
</div>
