/* You can add global styles to this file, and also import other style files */
/* black - #29274c
green - #359c9c
pink - #e98db8
font - yusei magic */
@import "~bootstrap/dist/css/bootstrap.css";


@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}
body{
    background-color:rgb(124, 195, 227);
}
.container{
    min-height: 100vh;
}
.navbar{
    padding: 1em 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8vh;
}
.nav-right{
    font-size: 20px;
    display: flex;
    align-items: center;
    gap: 1.5em; 
    font-family: sans-serif;
}
.nav-right a{
    text-decoration: none;
    color: #ffffff;
    transition: 0.3s ease;
}
.nav-right a:hover{
    color: #29274c;
    transition: 0.3s ease;
}
.nav-left{
    font-size: 20px;
    text-transform: uppercase;
    color: #ffffff;
    font-family: 'Yusei Magic', sans-serif;;
}
.form-container{
    height: 100vh;
    display: grid;
    place-items: center;
}
.form{
    background-color:  #bdddf0;
    padding: 2em;
    display: flex;
    flex-direction: column;
    gap: 2em;
    border-radius: 10px;
    /* font-family: 'Yusei Magic',sans-serif; */
    min-width: 500px;
}
.form input{
    height: 50px;
}
.form p{
    font-size: 28px;
    text-align: center;
    font-weight: 500;
}
.form a{
    font-size: 14px;
    text-align: center;
    font-family: sans-serif;
}
.form-section{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    font-size: 20px;
}
.form-section label{
    font-family: sans-serif;
}
.form-section input{
    border: none;
    outline: none;
    border-bottom: 3px solid #153753;
    font-size: 18px;
    padding: 0.2em;
    transition: all 0.3s ease;
}

.form-submit{
    font-size: 20px;
    padding: 0.4em 1em;
    border: none;
    border-radius: 5px;
}
