<div class="container" style="background-color:rgb(124, 195, 227);">


<div class="home-hero">
        <img src="assets/img1.png" alt="JobHunt" style="width:100% ;">
        <div class="centered">
            <h2 style="color:black ;">Welcome to hunt app</h2>
            <br><br>
            <h2 style="color:black ;">New to job hunt app</h2>
            <br><br>
        <button class="home-hero-btn" [routerLink]="'register'">Register</button><br><br><br>
        <br>
        <h2 style="color:black ;">Already a user?</h2>
        <br><br>
        <button class="home-hero-btn" [routerLink]="'login'">Log In</button>
        </div>




    
</div>
</div>

