<div class="form-container">
    <form [formGroup]="loginForm" class="form">
        <p>Edit Details</p>
        <div class="form-section">
            <label>Enter username</label>
            <input type="text" formControlName="username">
        </div>
        <div class="form-section">
            <label>Enter Password</label>
            <input type="password" formControlName="password">
        </div>
        <button class="form-submit" style="color:#ffffff;background-color: #283653;">Apply Changes</button>
    </form>
    </div>
    




     <p>works</p>

     